/* Mobile first approach */
/* Grid Areas */
body {
    max-width: 375px;
    padding: 1.2rem 0.8rem;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header"
      "mainA"
      "aside"
      "secondaryA"
      "footer";
}
header { 
    grid-area: header;
    position: relative;
}
.main-article {
    grid-area: mainA;
}
aside {
    grid-area: aside;
}
.secondary-articles {
    grid-area: secondaryA;
}
footer {
    grid-area: footer;
}
/* End of Grid Areas */
/* General declarations */
body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(36, 100%, 99%);
}
figure {
    margin: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: hsl(240, 100%, 5%);
}
/* End of General declarations */

/* Header */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.navbar {
    width: 300px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    align-items: center;
}
.wLogo {
    width: 40px;
}
.navbar-menu {
    display: none;
    position: absolute;
    top: -70%;
    right: 3rem;
    width: 50%;
    height: 100vh;
    z-index: 2;
    padding-top: 15vh;
}
.navbar-menu.show {
    display: block;
    background-color: hsl(36, 100%, 99%);
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.close-icon {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 3.5rem;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: none;
}
.overlay.show {
    display: block;
  }
.navbar-menu li{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.toggle_btn{
    cursor: pointer;
}
.links {
    display: none;
}
/* End of Header */
/* Main Article */
.mainArticleImg {
    width: 300px;
}
